/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato', sans-serif;
}
body{
  display: flex;
  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;
  background: #ddd;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background: #66CDAA;
  z-index: -1;
}
#contenitore{
  margin: auto;
  width: 90%;
  height: 95%;
  z-index: 1;
}
.f-right{
  float: right;
}
.f-left{
  float: left;
}

/* parte del main */
.main-nav{
  float: left;
  width: 500px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.profilo{
  width: 100%;
  background-color: whitesmoke;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  border-right: solid 1px lightgray;
}
.profilo img{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-self: center;
  margin-left: 10px;
  border-radius: 50%;
}
.icone{
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 90px;
  margin-right: 20px;
}
.icone i{
  color: lightgray;
  font-size: 20px;
}
.search{
  width: 100%;
  background-color: whitesmoke;
  height: 40px;
  padding: 1%;
}
.search2{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.search2 .input{
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 90%;
}
.srcbtn{
  display: flex;
  align-self: center;
  margin-left: 5px;
  justify-content: center;
  width: 10%;
}

.contatti{
  height: 510px;
  background-color: lightgray;
}
.contatto{
  height: 70px;
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  padding: 1%;
  border-top: 1px solid lightgrey;
}

.contatti .contatto.active{
  background-color: #bfbfbf;
}
.contatto img{
  height: 50px;
  width: 50px;
  align-self: center;
  margin-left: 5px;
  border-radius: 100%;
  margin-left: 20px;
}
.contenuto{
  align-self: center;
  margin-left: 25px;
}
.contenuto h2{
  font-size: 18px;
  margin-bottom: 5px;
}
.contenuto p{
  font-size: 12px;
  color: grey;
}
.contatto > p{
  margin-right: 10px;
  margin-left: auto;
  align-self: center;
}
.contatto:hover{
  background-color: lightgray;
}

/* parte home */
.home{
  float: left;
  width: calc(100% - 500px);
}
.home-contatto{
  width: 100%;
  background-color: whitesmoke;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.home-contatto img{
  height: 40px;
  width: 40px;
  display: flex;
  align-self: center;
  margin-left: 10px;
  border-radius: 100%;
  margin-right: 20px;
}
.home-contatto h3{
  font-size: 16px;
  font-weight: normal;
  margin-right: auto;
  align-self: center;
}
.chat{
  background-image: url(../img/sfondo.jpg);
  height: 500px;
  background-size: contain;
}

.messaggio-container{
  width: 100%;
  height: calc(100% - 50px - 50px)
}

.messaggio{
  position: relative;
  float: left;
  clear: both;

  min-width: 13%;
  max-width: 60%;
  margin: 10px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  z-index: 100;
  font-size: 15px;
}

.messaggio.spedito{
  float: right;
  background-color: #90EE90;
}
.messaggio .ricevuto{
  float: left;
  background-color: white;
}
.messaggio .ora-messaggio{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}

.messaggio .messagge-option, .messaggio-opzioni-pannello{
  margin-left: 5px;
  display: none;
  cursor: pointer;
}

.messaggio:hover .messagge-option{
  display: block;
}

.messaggio-opzioni-pannello{
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  left: 0;
  height: 50px;
  width: 150px;
  bottom: -50px;
}

.show{
  display: block;
}

.messaggio-opzioni-pannello > div{
  font-size: 15px;
  text-align: center;
  line-height: 23px;

}


.messaggio-container .messaggi-destra{
  display: none;
}

.messaggio-container .messaggi-destra.active{
  display: block;
}

.scrivi-messaggio{
  height: 50px;
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
}
.scrivi-messaggio i{
  font-size: 20px;
  align-self: center;
  color: gray;
}
.scrivi{
  width: 85%;
  display: flex;
  align-self: center;
  height: 70%;
}
.scrivi input{
  padding: 15px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
